# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm or yarn cache directory
.npm
.eslintcache

# Output / Build directories
dist/
out/
build/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db
leads.db

